// $yellow-background: #f0e68c;
$yellow-background: #fffdd0;
$yellow-primary: #daa520;
$yellow-secondary: #f0e68c;
$dark-gray: #333333;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
