$yellow-primary: #daa520;

.note-card {
  padding: 20px;
  padding-bottom: 0px;
  margin: 10px;
  h2 {
    text-align: center;
  }

  max-width: 200px;
  height: 350px;
  max-height: 500px;
  background-color: $yellow-primary;
}

.note-title {
  height: 10%;
}
.note-text {
  height: 80%;
  p {
    font-size: 14px;
    font-weight: 300;
  }
}
.note-date {
  height: 10px;
  p {
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
  }
}
