$yellow-primary: #daa520;

.notes-config {
  font-size: 20px;
  margin-bottom: 0;

  .trash-can,
  .edit {
    transition: 450ms ease-in-out;
    cursor: pointer;
    &:hover {
      color: white;
    }
    margin-right: 25px;
  }
}
.note-card {
  padding: 20px;
  padding-bottom: 0px;
  margin: 10px;
  h2 {
    text-align: center;
  }
  width: 250px;
  // max-width: 200px;
  height: 300px;

  max-height: 500px;
  background-color: $yellow-primary;
}

.note-title {
  height: 10%;
}
.note-text {
  height: 70%;
  p {
    font-size: 20px;
    font-weight: 300;
  }
}
.note-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  p {
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
  }
}
